/* Modale  */
.footer-inner {
  display: none;
}
.contact-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
  border: 2px solid #000; /* Cadre noir */
  position: relative;
}

/* Bouton de fermeture */
.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 50px;
  cursor: pointer;
  color: #ffffff;
}

/* Champs de formulaire */
.modal-content input,
.modal-content textarea,
.modal-content button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-family: 'Space Mono', monospace; /* Utiliser la même police */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Bouton Envoyer */
.modal-content button {
  color: rgb(5, 5, 5);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  right: 10%;
}

[type=button],[type=submit],button {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: rgb(146, 146, 146);
  border: 1px solid rgb(0, 0, 0) ; 
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  transition: all .3s
}

[type=button]:hover, [type=submit]:hover, button:hover {
  background-color: rgb(103, 103, 103)!important;
  color: #fff;
  border-color: rgb(0, 0, 0);
}


.modal-content textarea {
  height: 100px;
}

 */
.modal-content button {
  width: 100%; 
}



/* Template photo */

.search-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 60px auto 100px auto;
  width: 80%; 
}

.search-filters .filter-group {
  display: flex;
  gap: 10px;
}

.search-filters select {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Space Mono', monospace;
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
}

.galerie-photo {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  width: 80%; 
  margin: 0 auto; 
}

.galerie-photo img {
  overflow: hidden;
  border-radius: 10px;
  object-fit:inherit; 
  aspect-ratio: 1 / 1;
}

.galerie-photo img:hover {
  transform: scale(1.005);
}

@media screen and (max-width: 900px) {
  .photo-grid, .galerie-photo {
    grid-template-columns: repeat(2, 1fr); /* Maintien de 2 colonnes sur tablettes */
  }
}

@media screen and (max-width: 600px) {
  .search-filters {
    flex-direction: column;
    align-items: flex-start;
    width: 80%; 
  }

  .search-filters .filter-group {
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    justify-content: center;
  }
   

  .search-filters select {
    width: 100%;
  }

  .photo-grid, .galerie-photo {
    grid-template-columns: 1fr; 
    width: 90%; 
  }
}

#load-more-container {
  display: flex;
  justify-content: center;
  padding-top: 50px; 
}

#load-more {
  width: 200px;
  height: 40px;
  background-color: #ccc; 
  color: #000; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

#load-more:hover {
  transform: scale(1.05); 
  background-color: #bbb; 
}



/* Hero */ 

.hero {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.hero h1 {
  font-family: 'Space Mono', monospace;
  font-size: 96px;
  font-weight: 700;
  font-style: italic;
  color: transparent; 
  opacity: 0.7;
  -webkit-text-stroke: 2px white; /* Contour blanc */
  text-align: center;
}
@media screen and (max-width: 900px) {
  .hero h1 {
    font-size: 48px;
    width: 80%;
  }
}
/* Hover galerie */ 
.copyright {
  color: #ffffff !important;
}

.photo-item {
  position: relative;
  overflow: hidden;
}

.photo-item img {
  transition: filter 0.3s ease;
  width: 100%;
  display: block;
  
}

.photo-item:hover img {
  filter: brightness(0.7);
}

.photo-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 50px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.photo-item:hover .photo-hover {
  opacity: 1;
}

.photo-hover button,
.photo-hover a {
  background: rgba(255, 255, 255, 0.8); 
  padding: 15px; 
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
}

.photo-hover img {
  width: 32px;
  height: 32px;
  filter: invert(0); 
}

.photo-hover button:hover,
.photo-hover a:hover {
  background: rgba(255, 255, 255, 1); 
  transform: scale(1.1); 
}


